header{
    display: flex;
}
.logo{
    display: flex;
}
.heading{
    display: flex;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}
.red{
    width: 400px;
    height: 400px;
    background-color: red;
}