@font-face {
    font-family: Vogue;
    src: url(./fonts/);
}

body {
    padding: 0;
    margin: 0;
    border: 0;
}

.button:any-link {
    text-decoration: none;
    color: black;
    transition: all 0.25s ease-in-out;
    background: #86A788;
    border-radius: 1.5em;
    padding: 0.5em 1em;
    white-space: nowrap;
    cursor: pointer;
}

.button:any-link:hover {
    background-color: #596f5a;
}

main {
    background-color: #FFCFCF;
}

h1 {
    margin: 0;
    padding-bottom: 1em;
    font-family: Vogue;
    text-align: center;
    font-weight: 400;
    font-size: 3em;
    color: #000000;
}

main a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

main p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

.about_section {
    background-color: #FFFDEC;
    padding: 3em 3em;
}

.project_section {
    padding: 3em 3em;
}

.project_container {
    display: flex;
    flex-wrap: wrap;
    gap: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project_container img {
    height: 350px;
    width: 350px;
    margin-bottom: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
}

.image_container {
    margin-bottom: 10%;
    padding: 3em 3em;
    background-color: #FFFDEC;
    border-radius: 1.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
